body{
    background-color: #3D3D3B;
}


.forms label{
    display: block;
    font-size: medium;
    margin-top:1%;
    color: #3D3D3B;
    font-family: 'Roboto', sans-serif;
}
.forms button{
    margin-top:1%;
}

.forms span{
    font-size:10pt;
    color:#F4F4F4;
    font-family: 'Nova Mono', monospace;

}

.forms{
    background-color: #D9491D;
    border: 1px solid #7F8489;
}

.forms form{
    background-color: #F4F4F4;
}
.forms #cantUseForm{
    background-color: #F4F4F4;
}

.forms ul{
    background-color: #F4F4F4;
}

#getEvent{

    margin-top:2%;

}
.
